# Carga de paÃ­ses (DM_PAIS)

Partimos de los ficheros __paises.xls__ y __countries.csv_

Driver para acceso a BBDD __sqlalchemy__

In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /home/jon/anaconda3/lib/python3.9/site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in /home/jon/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)

In [2]:
!pip install PyMySql

Requirement already satisfied: PyMySql in /home/jon/anaconda3/lib/python3.9/site-packages (1.0.2)

Instalar __plugin__ para SQL

In [3]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /home/jon/anaconda3/lib/python3.9/site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: sqlparse in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable<1 in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: backcall in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: jedi>=0.16 in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: traitlets>=4.2 in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pexpect>4.3 in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: pickleshare in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pygments in /home/jon/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/jon/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /home/jon/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /home/jon/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /home/jon/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [4]:
!pip list

Package                            Version
---------------------------------- --------------------
alabaster                          0.7.12
anaconda-client                    1.9.0
anaconda-navigator                 2.1.4
anaconda-project                   0.10.1
anyio                              2.2.0
appdirs                            1.4.4
argh                               0.26.2
argon2-cffi                        20.1.0
arrow                              0.13.1
asn1crypto                         1.4.0
astroid                            2.6.6
astropy                            4.3.1
async-generator                    1.10
atomicwrites                       1.4.0
attrs                              21.2.0
autopep8                           1.5.7
Babel                              2.9.1
backcall                           0.2.0
backports.functools-lru-cache      1.6.4
backports.shutil-get-terminal-size 1.0.0
backports.tempfile                 1.0
backports.weakref                  1.0.post1
beautifulsoup4                     4.10.0
binaryornot                        0.4.4
bitarray                           2.3.0
bkcharts                           0.2
black                              19.10b0
bleach                             4.0.0
bokeh                              2.4.1
boto                               2.49.0
Bottleneck                         1.3.2
brotlipy                           0.7.0
cached-property                    1.5.2
certifi                            2021.10.8
cffi                               1.14.6
chardet                            4.0.0
charset-normalizer                 2.0.4
click                              8.0.3
cloudpickle                        2.0.0
clyent                             1.2.2
colorama                           0.4.4
conda                              4.12.0
conda-build                        3.21.5
conda-content-trust                0+unknown
conda-pack                         0.6.0
conda-package-handling             1.7.3
conda-repo-cli                     1.0.4
conda-token                        0.3.0
conda-verify                       3.4.2
contextlib2                        0.6.0.post1
cookiecutter                       1.7.2
cryptography                       3.4.8
cycler                             0.10.0
Cython                             0.29.24
cytoolz                            0.11.0
daal4py                            2021.3.0
dask                               2021.10.0
debugpy                            1.4.1
decorator                          5.1.0
defusedxml                         0.7.1
diff-match-patch                   20200713
distributed                        2021.10.0
docutils                           0.17.1
entrypoints                        0.3
et-xmlfile                         1.1.0
fastcache                          1.1.0
filelock                           3.3.1
flake8                             3.9.2
Flask                              1.1.2
fonttools                          4.25.0
fsspec                             2021.8.1
future                             0.18.2
gevent                             21.8.0
glob2                              0.7
gmpy2                              2.0.8
greenlet                           1.1.1
h5py                               3.3.0
HeapDict                           1.0.1
html5lib                           1.1
htmlmin                            0.1.12
idna                               3.2
imagecodecs                        2021.8.26
ImageHash                          4.2.1
imageio                            2.9.0
imagesize                          1.2.0
importlib-metadata                 4.8.1
inflection                         0.5.1
iniconfig                          1.1.1
intervaltree                       3.1.0
ipykernel                          6.4.1
ipython                            7.29.0
ipython-genutils                   0.2.0
ipython-sql                        0.4.0
ipywidgets                         7.6.5
isort                              5.9.3
itsdangerous                       2.0.1
jdcal                              1.4.1
jedi                               0.18.0
jeepney                            0.7.1
Jinja2                             2.11.3
jinja2-time                        0.2.0
joblib                             1.1.0
json5                              0.9.6
jsonschema                         3.2.0
jupyter                            1.0.0
jupyter-client                     6.1.12
jupyter-console                    6.4.0
jupyter-core                       4.8.1
jupyter-server                     1.4.1
jupyterlab                         3.2.1
jupyterlab-pygments                0.1.2
jupyterlab-server                  2.8.2
jupyterlab-widgets                 1.0.0
keyring                            23.1.0
kiwisolver                         1.3.1
lazy-object-proxy                  1.6.0
libarchive-c                       2.9
llvmlite                           0.37.0
locket                             0.2.1
lxml                               4.6.3
MarkupSafe                         1.1.1
matplotlib                         3.4.3
matplotlib-inline                  0.1.2
mccabe                             0.6.1
missingno                          0.5.1
mistune                            0.8.4
mkl-fft                            1.3.1
mkl-random                         1.2.2
mkl-service                        2.4.0
mock                               4.0.3
more-itertools                     8.10.0
mpmath                             1.2.1
msgpack                            1.0.2
multimethod                        1.8
multipledispatch                   0.6.0
munkres                            1.1.4
mypy-extensions                    0.4.3
navigator-updater                  0.2.1
nbclassic                          0.2.6
nbclient                           0.5.3
nbconvert                          6.1.0
nbformat                           5.1.3
nest-asyncio                       1.5.1
networkx                           2.6.3
nltk                               3.6.5
nose                               1.3.7
notebook                           6.4.5
numba                              0.54.1
numexpr                            2.7.3
numpy                              1.20.3
numpydoc                           1.1.0
olefile                            0.46
openpyxl                           3.0.9
packaging                          21.0
pandas                             1.3.4
pandas-profiling                   3.2.0
pandocfilters                      1.4.3
parso                              0.8.2
partd                              1.2.0
path                               16.0.0
pathlib2                           2.3.6
pathspec                           0.7.0
patsy                              0.5.2
pep8                               1.7.1
pexpect                            4.8.0
phik                               0.12.2
pickleshare                        0.7.5
Pillow                             8.4.0
pip                                21.2.4
pkginfo                            1.7.1
pluggy                             0.13.1
ply                                3.11
poyo                               0.5.0
prettytable                        0.7.2
prometheus-client                  0.11.0
prompt-toolkit                     3.0.20
psutil                             5.8.0
ptyprocess                         0.7.0
py                                 1.10.0
pycodestyle                        2.7.0
pycosat                            0.6.3
pycparser                          2.20
pycurl                             7.44.1
pydantic                           1.9.1
pydocstyle                         6.1.1
pyerfa                             2.0.0
pyflakes                           2.3.1
Pygments                           2.10.0
PyJWT                              2.1.0
pylint                             2.9.6
pyls-spyder                        0.4.0
PyMySQL                            1.0.2
pyodbc                             4.0.0-unsupported
pyOpenSSL                          21.0.0
pyparsing                          3.0.4
pyrsistent                         0.18.0
PySocks                            1.7.1
pytest                             6.2.4
python-dateutil                    2.8.2
python-lsp-black                   1.0.0
python-lsp-jsonrpc                 1.0.0
python-lsp-server                  1.2.4
python-slugify                     5.0.2
pytz                               2021.3
PyWavelets                         1.1.1
pyxdg                              0.27
PyYAML                             6.0
pyzmq                              22.2.1
QDarkStyle                         3.0.2
qstylizer                          0.1.10
QtAwesome                          1.0.2
qtconsole                          5.1.1
QtPy                               1.10.0
regex                              2021.8.3
requests                           2.26.0
rope                               0.19.0
Rtree                              0.9.7
ruamel-yaml-conda                  0.15.100
scikit-image                       0.18.3
scikit-learn                       0.24.2
scikit-learn-intelex               2021.20210714.170444
scipy                              1.7.1
seaborn                            0.11.2
SecretStorage                      3.3.1
Send2Trash                         1.8.0
setuptools                         58.0.4
simplegeneric                      0.8.1
singledispatch                     3.7.0
sip                                4.19.13
six                                1.16.0
sniffio                            1.2.0
snowballstemmer                    2.1.0
sortedcollections                  2.1.0
sortedcontainers                   2.4.0
soupsieve                          2.2.1
Sphinx                             4.2.0
sphinxcontrib-applehelp            1.0.2
sphinxcontrib-devhelp              1.0.2
sphinxcontrib-htmlhelp             2.0.0
sphinxcontrib-jsmath               1.0.1
sphinxcontrib-qthelp               1.0.3
sphinxcontrib-serializinghtml      1.1.5
sphinxcontrib-websupport           1.2.4
spyder                             5.1.5
spyder-kernels                     2.1.3
SQLAlchemy                         1.4.22
sqlparse                           0.4.2
statsmodels                        0.12.2
sympy                              1.9
tables                             3.6.1
tangled-up-in-unicode              0.2.0
TBB                                0.2
tblib                              1.7.0
terminado                          0.9.4
testpath                           0.5.0
text-unidecode                     1.3
textdistance                       4.2.1
threadpoolctl                      2.2.0
three-merge                        0.1.1
tifffile                           2021.7.2
tinycss                            0.4
toml                               0.10.2
toolz                              0.11.1
tornado                            6.1
tqdm                               4.62.3
traitlets                          5.1.0
typed-ast                          1.4.3
typing-extensions                  3.10.0.2
ujson                              4.0.2
unicodecsv                         0.14.1
Unidecode                          1.2.0
urllib3                            1.26.7
visions                            0.7.5
watchdog                           2.1.3
wcwidth                            0.2.5
webencodings                       0.5.1
Werkzeug                           2.0.2
wheel                              0.37.0
whichcraft                         0.6.1
widgetsnbextension                 3.5.1
wrapt                              1.12.1
wurlitzer                          2.1.1
xlrd                               2.0.1
XlsxWriter                         3.0.1
xlwt                               1.3.0
xmltodict                          0.12.0
yapf                               0.31.0
zict                               2.0.0
zipp                               3.6.0
zope.event                         4.5.0
zope.interface                     5.4.0

In [5]:
import pandas as pd
import numpy as np

Cargamos la extensiÃ³n:

In [6]:
%load_ext sql

ConexiÃ³n a __MySQL__ BBDD __local__

Sintaxis conexiÃ³n:  
%sql mysql+pymysql://user:pass@server/database
Ejemplo servidor remoto:   
%sql mysql+pymysql://ur3fz287jlfaxbko:PFV2KWMAT0FRVO8rFxsq@bxfxbvopjfx0wnm4jjnz-mysql.services.clever-cloud.com/bxfxbvopjfx0wnm4jjnz

In [7]:
%sql mysql+pymysql://root:admin123@localhost/DW_AERO

In [8]:
from sqlalchemy import create_engine

# create sqlalchemy engine
conn = create_engine("mysql+pymysql://root:admin123@localhost/DW_AERO")

In [9]:
conn

Engine(mysql+pymysql://root:***@localhost/DW_AERO)

In [10]:
%sql show tables

 * mysql+pymysql://root:***@localhost/DW_AERO
6 rows affected.

[('CO_RUTAS_EQUIPAMIENTOS',),
 ('DM_AEROLINEAS',),
 ('DM_AEROPUERTOS',),
 ('DM_EQUIPAMIENTOS',),
 ('DM_PAIS',),
 ('HC_RUTAS',)]

Comprobamos los datos de la tabla DM_PAIS

In [11]:
%sql select * from DM_PAIS

 * mysql+pymysql://root:***@localhost/DW_AERO
0 rows affected.

[]

Lectura del fichero paises.xls

In [14]:
df_pais1 = pd.read_excel("input//paises.xls")
df_pais1.head(5)

  cod_pais cod_pais2       desc_pais cod_continente desc_continente
0      AFG        AF     Afghanistan             AS            Asia
1      ALB        AL         Albania             EU          Europe
2      DZA        DZ         Algeria             AF          Africa
3      ASM        AS  American Samoa             OC         Oceania
4      AND        AD         Andorra             EU          Europe

Lectura del fichero countries.csv

In [15]:
df_con = pd.read_csv("input//countries.csv",  sep=',', header='infer')
df_con.head(5)

  country   latitude  longitude                  name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla

Buscamos duplicados en paises

Primero por todos los campos

In [16]:
df_pais1.duplicated().sum()

1

In [17]:
df_pais1[df_pais1.duplicated()]

    cod_pais cod_pais2 desc_pais cod_continente desc_continente
136      MLT        MT     Malta             EU          Europe

In [18]:
Duplicados por clave cop_pais2

SyntaxError: invalid syntax (3469842044.py, line 1)

In [19]:
df_pais1[df_pais1.duplicated(subset='cod_pais2')]

    cod_pais cod_pais2 desc_pais cod_continente desc_continente
136      MLT        MT     Malta             EU          Europe

Eliminamos duplicados

In [20]:
df_pais2 = df_pais1.drop_duplicates(subset='cod_pais2', keep='first')

In [21]:
df_pais2.duplicated().sum()

0

Unimos los ficheros

In [22]:
df_pais3 = pd.merge(left=df_pais2, right=df_con,
                      how='left', left_on='cod_pais2', right_on='country')

In [23]:
df_pais3.head(5)

,cod_pais,cod_pais2,desc_pais,cod_continente,desc_continente,country,latitude,longitude,name
0,AFG,AF,Afghanistan,AS,Asia,AF,33.939110,67.709953,Afghanistan
1,ALB,AL,Albania,EU,Europe,AL,41.153332,20.168331,Albania
2,DZA,DZ,Algeria,AF,Africa,DZ,28.033886,1.659626,Algeria
3,ASM,AS,American Samoa,OC,Oceania,AS,-14.270972,-170.132217,American Samoa
4,AND,AD,Andorra,EU,Europe,AD,42.546245,1.601554,Andorra

Comprobamos diferencias

In [24]:
df_pais3[df_pais3['country'].isnull()]

,cod_pais,cod_pais2,desc_pais,cod_continente,desc_continente,country,latitude,longitude,name
243,Z99,Z9,desconocido,Z9,desconocido,NaN,NaN,NaN,NaN

Nos quedamos con a estructura definitiva:  
COD_PAIS VARCHAR(10) NOT NULL,
 PAIS VARCHAR(100) NOT NULL,
COD_PAIS2 VARCHAR(10) NULL ,
COD_CONTINENTE VARCHAR(10) NULL ,
CONTINENTE VARCHAR(100) NULL,
LONGITUD DECIMAL(6,2) NULL,
LATITUD DECIMAL(6,2) NULL,

Seleccion de columnas

In [25]:
df_pais_def = df_pais3[['cod_pais', 'desc_pais', 'cod_pais2', 
                        'cod_continente', 'desc_continente', 'longitude', 'latitude', ]]

Renombrado de columnas

In [26]:
df_pais_def = df_pais_def.rename(columns={"desc_pais": "pais", "desc_continente":"continente", "longitude": "longitud",
                                          "latitude": "latitud"})

In [27]:
df_pais_def.head(5)

,cod_pais,pais,cod_pais2,cod_continente,continente,longitud,latitud
0,AFG,Afghanistan,AF,AS,Asia,67.709953,33.939110
1,ALB,Albania,AL,EU,Europe,20.168331,41.153332
2,DZA,Algeria,DZ,AF,Africa,1.659626,28.033886
3,ASM,American Samoa,AS,OC,Oceania,-170.132217,-14.270972
4,AND,Andorra,AD,EU,Europe,1.601554,42.546245

Volcado a BBDD

In [35]:
df_pais_def.to_sql('DM_PAIS', con = conn, if_exists = 'append', index=False)

Si fuese necesario un borrado previo a la carga:   
%sql delete from DM_PAIS

Comprobaciones de la carga

In [36]:
count_df = df_pais_def.count()
count_df

cod_pais          244
pais              244
cod_pais2         244
cod_continente    208
continente        244
longitud          242
latitud           242
dtype: int64

In [37]:
count_tab = %sql select count(*) from DM_PAIS
count_tab

 * mysql+pymysql://root:***@localhost/DW_AERO
1 rows affected.

[(244,)]

In [38]:
res = %sql select * from DM_PAIS where COD_PAIS2 in ('AL', 'AD')

 * mysql+pymysql://root:***@localhost/DW_AERO
2 rows affected.

In [39]:
res

[('ALB', 'Albania', 'AL', 'EU', 'Europe', Decimal('20.168331'), Decimal('41.153332')),
 ('AND', 'Andorra', 'AD', 'EU', 'Europe', Decimal('1.601554'), Decimal('42.546245'))]

In [40]:
df1 = res.DataFrame()

In [41]:
df1

  COD_PAIS     PAIS COD_PAIS2 COD_CONTINENTE CONTINENTE   LONGITUD    LATITUD
0      ALB  Albania        AL             EU     Europe  20.168331  41.153332
1      AND  Andorra        AD             EU     Europe   1.601554  42.546245

In [42]:
db_query = """
select cod_pais, pais, 
    continente
from DM_PAIS 
    where cod_continente = 'EU';"""

In [43]:
res = %sql $db_query
res

 * mysql+pymysql://root:***@localhost/DW_AERO
52 rows affected.

[('ALB', 'Albania', 'Europe'),
 ('AND', 'Andorra', 'Europe'),
 ('ANT', 'Netherlands Antilles', 'Europe'),
 ('AUT', 'Austria', 'Europe'),
 ('BEL', 'Belgium', 'Europe'),
 ('BGR', 'Bulgaria', 'Europe'),
 ('BIH', 'Bosnia and Herzegovina', 'Europe'),
 ('BLR', 'Belarus', 'Europe'),
 ('CHE', 'Switzerland', 'Europe'),
 ('CZE', 'Czech Republic', 'Europe'),
 ('DEU', 'Germany', 'Europe'),
 ('DNK', 'Denmark', 'Europe'),
 ('ESP', 'Spain', 'Europe'),
 ('EST', 'Estonia', 'Europe'),
 ('FIN', 'Finland', 'Europe'),
 ('FRA', 'France', 'Europe'),
 ('FRO', 'Faroe Islands', 'Europe'),
 ('GBR', 'United Kingdom', 'Europe'),
 ('GGY', 'Guernsey', 'Europe'),
 ('GIB', 'Gibraltar', 'Europe'),
 ('GRC', 'Greece', 'Europe'),
 ('HRV', 'Croatia', 'Europe'),
 ('HUN', 'Hungary', 'Europe'),
 ('IMN', 'Isle of Man', 'Europe'),
 ('IRL', 'Ireland', 'Europe'),
 ('ISL', 'Iceland', 'Europe'),
 ('ITA', 'Italy', 'Europe'),
 ('JEY', 'Jersey', 'Europe'),
 ('LIE', 'Liechtenstein', 'Europe'),
 ('LTU', 'Lithuania', 'Europe'),
 ('LUX', 'Luxembourg', 'Europe'),
 ('LVA', 'Latvia', 'Europe'),
 ('MCO', 'Monaco', 'Europe'),
 ('MDA', 'Moldova', 'Europe'),
 ('MKD', 'Macedonia', 'Europe'),
 ('MLT', 'Malta', 'Europe'),
 ('MNE', 'Montenegro', 'Europe'),
 ('NLD', 'Netherlands', 'Europe'),
 ('NOR', 'Norway', 'Europe'),
 ('POL', 'Poland', 'Europe'),
 ('PRT', 'Portugal', 'Europe'),
 ('ROU', 'Romania', 'Europe'),
 ('RUS', 'Russia', 'Europe'),
 ('SJM', 'Svalbard', 'Europe'),
 ('SMR', 'San Marino', 'Europe'),
 ('SRB', 'Serbia', 'Europe'),
 ('SVK', 'Slovakia', 'Europe'),
 ('SVN', 'Slovenia', 'Europe'),
 ('SWE', 'Sweden', 'Europe'),
 ('TUR', 'Turkey', 'Europe'),
 ('UKR', 'Ukraine', 'Europe'),
 ('VAT', 'Holy See (Vatican City State)', 'Europe')]

Cuestiones de __configuraciÃ³n__

In [44]:
 %config SqlMagic

SqlMagic(Magics, Configurable) options
------------------------------------
SqlMagic.autocommit=<Bool>
    Set autocommit mode
    Current: True
SqlMagic.autolimit=<Int>
    Automatically limit the size of the returned result sets
    Current: 0
SqlMagic.autopandas=<Bool>
    Return Pandas DataFrames instead of regular result sets
    Current: False
SqlMagic.column_local_vars=<Bool>
    Return data into local variables from column names
    Current: False
SqlMagic.displaycon=<Bool>
    Show connection string after execute
    Current: True
SqlMagic.displaylimit=<Int>
    Automatically limit the number of rows displayed (full result set is still
    stored)
    Current: None
SqlMagic.dsn_filename=<Unicode>
    Path to DSN file. When the first argument is of the form [section], a
    sqlalchemy connection string is formed from the matching section in the DSN
    file.
    Current: 'odbc.ini'
SqlMagic.feedback=<Bool>
    Print number of rows affected by DML
    Current: True
SqlMagic.short_errors=<Bool>
    Don't display the full traceback on SQL Programming Error
    Current: True
SqlMagic.style=<Unicode>
    Set the table printing style to any of prettytable's defined styles
    (currently DEFAULT, MSWORD_FRIENDLY, PLAIN_COLUMNS, RANDOM)
    Current: 'DEFAULT'

In [45]:
%config SqlMagic.autolimit = 20