# Carga de aerolíneas (DM_AEROLINEAS)

Partimos del ficheros __aerolineas.csv__

In [29]:
import pandas as pd
import numpy as np

Cargamos la extensión SQL:

In [30]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Conexión a __MySQL__ BBDD __local__

Sintaxis conexión:  
%sql mysql+pymysql://user:pass@server/database
Ejemplo servidor remoto:   
%sql mysql+pymysql://ur3fz287jlfaxbko:PFV2KWMAT0FRVO8rFxsq@bxfxbvopjfx0wnm4jjnz-mysql.services.clever-cloud.com/bxfxbvopjfx0wnm4jjnz

In [31]:
%sql mysql+pymysql://root:root@localhost/dw_aero

(pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/DW_AERO'])

In [32]:
# linux local enviroment
%sql mysql+pymysql://root:admin123@localhost/DW_AERO

In [34]:
from sqlalchemy import create_engine

# create sqlalchemy engine teacher enviroment
conn = create_engine("mysql+pymysql://root:root@localhost/dw_aero")

In [72]:
from sqlalchemy import create_engine

# create sqlalchemy engine local enviroment
conn = create_engine("mysql+pymysql://root:admin123@localhost/DW_AERO")

In [73]:
conn

Engine(mysql+pymysql://root:***@localhost/DW_AERO)

In [74]:
%sql show tables

 * mysql+pymysql://root:***@localhost/DW_AERO
6 rows affected.

[('CO_RUTAS_EQUIPAMIENTOS',),
 ('DM_AEROLINEAS',),
 ('DM_AEROPUERTOS',),
 ('DM_EQUIPAMIENTOS',),
 ('DM_PAIS',),
 ('HC_RUTAS',)]

Comprobamos los datos de la tabla DM_AEROLINEAS

In [75]:
%sql select * from DM_AEROLINEAS

 * mysql+pymysql://root:***@localhost/DW_AERO
0 rows affected.

[]

Lectura del fichero aerolineas.csv

In [76]:
df_aerol1 = pd.read_csv("input//aerolineas.csv",  sep=',', header='infer')
df_aerol1.head(10)

,cod_aerolinea,nombre_aerolinea,cod_pais,cod_iata,cod_icao,identificacion,pais_aerolinea,sw_activa
0,00001,Private flight,Z99,Z9,Z99,I999,NaN,Y
1,00002,135 Airways,USA,Z9,GNL,GENERAL,United States,N
2,00003,1Time Airline,ZAF,1T,RNX,NEXTIME,South Africa,Y
3,00004,2 Sqn No 1 Elementary Flying Training School,GBR,Z9,WYT,I999,United Kingdom,N
4,00005,213 Flight Unit,RUS,Z9,TFU,I999,Russia,N
5,00006,223 Flight Unit State Airline,RUS,Z9,CHD,CHKALOVSK-AVIA,Russia,N
6,00007,224th Flight Unit,RUS,Z9,TTF,CARGO UNIT,Russia,N
7,00008,247 Jet Ltd,GBR,Z9,TWF,CLOUD RUNNER,United Kingdom,N
8,00009,3D Aviation,USA,Z9,SEC,SECUREX,United States,N
9,00010,40-Mile Air,USA,Q5,MLA,MILE-AIR,United States,Y

Revisión de nulos

In [77]:
for col in df_aerol1.columns:
    print("Revisando nulos: ", col)
    print(df_aerol1[col].isnull().sum())

Revisando nulos:  cod_aerolinea
0
Revisando nulos:  nombre_aerolinea
0
Revisando nulos:  cod_pais
0
Revisando nulos:  cod_iata
2
Revisando nulos:  cod_icao
0
Revisando nulos:  identificacion
11
Revisando nulos:  pais_aerolinea
16
Revisando nulos:  sw_activa
1

In [78]:
df_aerol1[ df_aerol1['cod_iata'].isnull()  ]

,cod_aerolinea,nombre_aerolinea,cod_pais,cod_iata,cod_icao,identificacion,pais_aerolinea,sw_activa
3592,03598,National Airlines,USA,NaN,NAL,NATIONAL,United States,N
5690,13190,Al-Naser Airlines,IRQ,NaN,Z99,I999,Iraq,Y

Reemplazo nulos cod_iata (2 pos - Z9)

In [79]:
df_aerol1['cod_iata'] = df_aerol1['cod_iata'].fillna('Z9')

In [80]:
df_aerol1[df_aerol1['cod_aerolinea']=='Z9999']

,cod_aerolinea,nombre_aerolinea,cod_pais,cod_iata,cod_icao,identificacion,pais_aerolinea,sw_activa
5511,Z9999,Desconocido,Z99,Z9,Z99,Z999,NaN,NaN

Comprobaciones integridad país

Para realizar la comprobación de integridad bajamos los datos de países

In [81]:
t_pais = %sql select cod_pais as cod_pais_p, pais from DM_PAIS

 * mysql+pymysql://root:***@localhost/DW_AERO
244 rows affected.

In [82]:
df_pais = t_pais.DataFrame()
df_pais.head(5)

  cod_pais_p         pais
0        ABW        Aruba
1        AFG  Afghanistan
2        AGO       Angola
3        AIA     Anguilla
4        ALB      Albania

Cruce aeropuero - paises

In [83]:
df_aerol1.head(5)

,cod_aerolinea,nombre_aerolinea,cod_pais,cod_iata,cod_icao,identificacion,pais_aerolinea,sw_activa
0,00001,Private flight,Z99,Z9,Z99,I999,NaN,Y
1,00002,135 Airways,USA,Z9,GNL,GENERAL,United States,N
2,00003,1Time Airline,ZAF,1T,RNX,NEXTIME,South Africa,Y
3,00004,2 Sqn No 1 Elementary Flying Training School,GBR,Z9,WYT,I999,United Kingdom,N
4,00005,213 Flight Unit,RUS,Z9,TFU,I999,Russia,N

In [84]:
df_aerol2 = pd.merge(left=df_aerol1, right=df_pais,
                      how='left', left_on='cod_pais', right_on='cod_pais_p')

In [85]:
df_aerol2.head(5)

,cod_aerolinea,nombre_aerolinea,cod_pais,cod_iata,cod_icao,identificacion,pais_aerolinea,sw_activa,cod_pais_p,pais
0,00001,Private flight,Z99,Z9,Z99,I999,NaN,Y,Z99,desconocido
1,00002,135 Airways,USA,Z9,GNL,GENERAL,United States,N,USA,United States
2,00003,1Time Airline,ZAF,1T,RNX,NEXTIME,South Africa,Y,ZAF,South Africa
3,00004,2 Sqn No 1 Elementary Flying Training School,GBR,Z9,WYT,I999,United Kingdom,N,GBR,United Kingdom
4,00005,213 Flight Unit,RUS,Z9,TFU,I999,Russia,N,RUS,Russia

In [86]:
df_aerol2[df_aerol2['cod_pais_p'].isnull()]

Empty DataFrame
Columns: [cod_aerolinea, nombre_aerolinea, cod_pais, cod_iata, cod_icao, identificacion, pais_aerolinea, sw_activa, cod_pais_p, pais]
Index: []

Convertir sw_activa (Y/N) a (1/0)

In [87]:
df_aerol2['sw_activa'] = np.where(df_aerol2['sw_activa']=='Y', 1 ,0)

In [88]:
df_aerol2.head(5)

,cod_aerolinea,nombre_aerolinea,cod_pais,cod_iata,cod_icao,identificacion,pais_aerolinea,sw_activa,cod_pais_p,pais
0,00001,Private flight,Z99,Z9,Z99,I999,NaN,1,Z99,desconocido
1,00002,135 Airways,USA,Z9,GNL,GENERAL,United States,0,USA,United States
2,00003,1Time Airline,ZAF,1T,RNX,NEXTIME,South Africa,1,ZAF,South Africa
3,00004,2 Sqn No 1 Elementary Flying Training School,GBR,Z9,WYT,I999,United Kingdom,0,GBR,United Kingdom
4,00005,213 Flight Unit,RUS,Z9,TFU,I999,Russia,0,RUS,Russia

Volcado

Nos quedamos con a estructura definitiva:     
COD_AEROLINEA VARCHAR(5) NOT NULL,
 NOMBRE_AEROLINEA VARCHAR(100) NOT NULL,
 COD_PAIS VARCHAR(3) NULL,
 COD_IATA VARCHAR(3) NULL,
 COD_ICAO VARCHAR(10) NULL,
 IDENTIFICACION VARCHAR(100) NULL,
 PAIS_AEROLINEA VARCHAR(45) NULL,
 SW_ACTIVA INT NULL,

Seleccion de columnas

In [89]:
df_aerol_def = df_aerol2.drop(['cod_pais_p', 'pais'],1)

/tmp/ipykernel_4316/3293972489.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_aerol_def = df_aerol2.drop(['cod_pais_p', 'pais'],1)

Volcado a BBDD

In [90]:
df_aerol_def.to_sql('DM_AEROLINEAS', con = conn, if_exists = 'append', index=False)

Comprobaciones conteos

In [91]:
count_df = df_aerol_def.count()
count_df

cod_aerolinea       6048
nombre_aerolinea    6048
cod_pais            6048
cod_iata            6048
cod_icao            6048
identificacion      6037
pais_aerolinea      6032
sw_activa           6048
dtype: int64

In [92]:
count_tab = %sql select count(*) from DM_AEROLINEAS
count_tab

 * mysql+pymysql://root:***@localhost/DW_AERO
1 rows affected.

[(6048,)]

Comprobaciones de la carga

In [93]:
%sql select * from DM_AEROLINEAS where cod_pais = 'ESP'

 * mysql+pymysql://root:***@localhost/DW_AERO
166 rows affected.

[('00020', 'Aero Albatros', 'ESP', 'Z9', 'ABM', 'ALBATROS ESPANA', 'Spain', 0),
 ('00073', 'Aerea Flying Training Organization', 'ESP', 'Z9', 'ADG', 'AEREA TRAINING', 'Spain', 0),
 ('00074', 'Audeli Air', 'ESP', 'Z9', 'ADI', 'AUDELI', 'Spain', 0),
 ('00090', 'Air Europa', 'ESP', 'UX', 'AEA', 'EUROPA', 'Spain', 1),
 ('00101', 'Aero Madrid', 'ESP', 'Z9', 'AEM', 'AEROMADRID', 'Spain', 0),
 ('00104', 'Aerotec', 'ESP', 'Z9', 'AEP', 'AEROTEC', 'Spain', 0),
 ('00172', 'Amadeus Global Travel Distribution', 'ESP', '1A', 'AGT', 'AMADEUS', 'Spain', 0),
 ('00206', 'Alicante Internacional Airlines', 'ESP', 'Z9', 'AIU', 'ALIA', 'Spain', 0),
 ('00223', 'Air Sureste', 'ESP', 'Z9', 'AIS', 'SURESTE', 'Spain', 0),
 ('00327', 'Air Nostrum', 'ESP', 'YW', 'ANE', 'AIR NOSTRUM', 'Spain', 1),
 ('00419', 'Aero Link Air Services S.L.', 'ESP', 'Z9', 'ARK', 'LINK SERVICE', 'Spain', 0),
 ('00421', 'Aeromarket Express', 'ESP', 'Z9', 'ARM', 'AMEX', 'Spain', 0),
 ('00532', 'Avialsa T-35', 'ESP', 'Z9', 'AVS', 'AVIALSA', 'Spain', 0),
 ('00553', 'Air Valencia', 'ESP', 'Z9', 'AVZ', 'AIR VALENCIA', 'Spain', 0),
 ('00578', 'Aeromax', 'ESP', 'Z9', 'AXP', 'AEROMAX SPAIN', 'Spain', 0),
 ('00628', 'Aero Nova', 'ESP', 'Z9', 'OVA', 'AERONOVA', 'Spain', 0),
 ('00642', 'Air Pal', 'ESP', 'Z9', 'PLL', 'AIRPAL', 'Spain', 0),
 ('00643', 'Air Pullmantur', 'ESP', 'Z9', 'PLM', 'PULLMANTUR', 'Spain', 0),
 ('00676', 'Aero Taxi Los Valles', 'ESP', 'Z9', 'VAD', 'VALLES', 'Spain', 0),
 ('00686', 'Air Evans', 'ESP', 'Z9', 'VAE', 'AIR-EVANS', 'Spain', 0),
 ('00756', 'Aerofan', 'ESP', 'Z9', 'CFF', 'AEROFAN', 'Spain', 0),
 ('00775', 'Air Consul', 'ESP', 'Z9', 'CNU', 'AIR CONSUL', 'Spain', 0),
 ('00814', 'Aeroynamics Malaga', 'ESP', 'Z9', 'DNC', 'FLYINGOLIVE', 'Spain', 0),
 ('00817', 'Air Madrid', 'ESP', 'NM', 'DRD', 'ALADA AIR', 'Spain', 1),
 ('00832', 'Aeronautica Castellana', 'ESP', 'Z9', 'ECL', 'AERO CASTELLANA', 'Spain', 0),
 ('00835', 'Air Este', 'ESP', 'Z9', 'EET', 'AESTE', 'Spain', 0),
 ('00843', 'Aeronaves Del Noroeste', 'ESP', 'Z9', 'ENW', 'AERONOR', 'Spain', 0),
 ('00885', 'Aeroflota Del Noroeste', 'ESP', 'Z9', 'FNO', 'RIAZOR', 'Spain', 0),
 ('00901', 'Aeronor', 'ESP', 'Z9', 'GCF', 'AEROCARTO', 'Spain', 0),
 ('00960', 'Airpull Aviation', 'ESP', 'Z9', 'IPL', 'IPULL', 'Spain', 0),
 ('00968', 'Air Executive', 'ESP', 'Z9', 'IVE', 'COMPANY EXEC', 'Spain', 0),
 ('01024', 'Airlink Solutions', 'ESP', 'Z9', 'LKS', 'AIRLIN', 'Spain', 0),
 ('01056', 'Aerodromo De La Mancha', 'ESP', 'Z9', 'MAM', 'AEROMAN', 'Spain', 0),
 ('01087', 'Air Plus Comet', 'ESP', 'A7', 'MPD', 'RED COMET', 'Spain', 1),
 ('01141', 'Air Pack Express', 'ESP', 'Z9', 'PCK', 'AIRPACK EXPRESS', 'Spain', 0),
 ('01184', 'Atlantic S.L.', 'ESP', 'Z9', 'RCU', 'AIR COURIER', 'Spain', 0),
 ('01199', 'Aeris Gestion', 'ESP', 'Z9', 'RIS', 'AERIS', 'Spain', 0),
 ('01337', 'Aeroclub Flaps', 'ESP', 'Z9', 'FLP', 'AEROCLUB FLAPS', 'Spain', 0),
 ('01362', 'Bravo Airlines', 'ESP', 'Z9', 'BBV', 'BRAVO EUROPE', 'Spain', 0),
 ('01378', 'Balear Express', 'ESP', 'Z9', 'BEF', 'BALEAR EXPRESS', 'Spain', 0),
 ('01430', 'Blue Jet', 'ESP', 'Z9', 'BLJ', 'BLUEWAY', 'Spain', 0),
 ('01526', 'BKS Air (Rivaflecha)', 'ESP', 'Z9', 'CKM', 'COSMOS', 'Spain', 0),
 ('01539', 'Binter Canarias', 'ESP', 'NT', 'IBB', 'I999', 'Spain', 1),
 ('01575', 'C N Air', 'ESP', 'Z9', 'ORO', 'CAPRI', 'Spain', 0),
 ('01607', 'Calima Aviacion', 'ESP', 'XG', 'CLI', 'CALIMA', 'Spain', 1),
 ('01612', 'Campania Helicopteros De Transporte', 'ESP', 'Z9', 'HSO', 'HELIASTURIAS', 'Spain', 0),
 ('01692', 'Center Vol', 'ESP', 'Z9', 'CVO', 'CENTERVOL', 'Spain', 0),
 ('01713', 'Centro de Formacion Aeronautica de Canarias', 'ESP', 'Z9', 'ACF', 'FORCAN', 'Spain', 0),
 ('01849', 'Compania Aerea de Valencia', 'ESP', 'Z9', 'AIF', 'I999', 'Spain', 0),
 ('01850', 'Compania Aerotecnicas Fotograficas', 'ESP', 'Z9', 'ATF', 'AEROTECNICAS', 'Spain', 0),
 ('01852', 'Compania De Actividades Y Servicios De Aviacion', 'ESP', 'Z9', 'LCT', 'STELLAIR', 'Spain', 0),
 ('01854', 'Compania Helicopteros Del Sureste', 'ESP', 'Z9', 'HSE', 'HELISURESTE', 'Spain', 0),
 ('01857', 'Compania Transportes Aereos Del Sur', 'ESP', 'Z9', 'HSS', 'TAS HELICOPTEROS', 'Spain', 0),
 ('01858', 'Compania de Servicios Aereos Tavisa', 'ESP', 'Z9', 'TAV', 'TAVISA', 'Spain', 0),
 ('01939', 'Cygnus Air', 'ESP', 'Z9', 'RGN', 'CYGNUS AIR', 'Spain', 0),
 ('02016', 'Departmento De Agricultura De La Generalitat De Cataluna', 'ESP', 'Z9', 'FGC', 'FORESTALES', 'Spain', 0),
 ('02030', 'Direccion General de Aviacion Civil y Telecomunicasciones', 'ESP', 'Z9', 'ENA', 'ENA', 'Spain', 0),
 ('02046', 'Dominguez Toledo (Grupo Mayoral)', 'ESP', 'Z9', 'MYO', 'MAYORAL', 'Spain', 0),
 ('02214', 'Escuela De Pilotos Are Aviacion', 'ESP', 'Z9', 'CTV', 'ARE AVIACION', 'Spain', 0),
 ('02225', 'Euro Continental AIE', 'ESP', 'Z9', 'ECN', 'EURO CONTINENTAL', 'Spain', 0),
 ('02278', 'Executive Airlines', 'ESP', 'Z9', 'EXU', 'SACAIR', 'Spain', 0),
 ('02344', 'Feria Aviacion', 'ESP', 'Z9', 'FER', 'FERIA', 'Spain', 0),
 ('02390', 'Flight Training Europe', 'ESP', 'Z9', 'AYR', 'CYGNET', 'Spain', 0),
 ('02414', 'Fly Line', 'ESP', 'Z9', 'FIL', 'FLYLINE', 'Spain', 0),
 ('02422', 'Flycolumbia', 'ESP', 'Z9', 'FCE', 'FLYCOLUMBIA', 'Spain', 0),
 ('02433', 'Flylink Express', 'ESP', 'Z9', 'FLK', 'FLYLINK', 'Spain', 0),
 ('02446', 'Fotografia F3', 'ESP', 'Z9', 'FTE', 'FOTOGRAFIA', 'Spain', 0),
 ('02475', 'Fumigacion Aerea Andaluza', 'ESP', 'Z9', 'FAM', 'FAASA', 'Spain', 0),
 ('02477', 'Fundació Rego', 'ESP', 'Z9', 'ROG', 'REGO', 'Spain', 0),
 ('02480', 'Futura International Airways', 'ESP', 'FH', 'FUA', 'FUTURA', 'Spain', 0),
 ('02515', 'Gamisa Aviacion', 'ESP', 'Z9', 'GMJ', 'GAMISA', 'Spain', 0),
 ('02523', 'Gavina', 'ESP', 'Z9', 'GVN', 'GAVINA', 'Spain', 0),
 ('02551', 'Gestair', 'ESP', 'GP', 'GES', 'GESTAIR', 'Spain', 0),
 ('02553', 'Gestion Aerea Ajecutiva', 'ESP', 'Z9', 'GJT', 'BANJET', 'Spain', 0),
 ('02600', 'Granada Aviacion', 'ESP', 'Z9', 'GAV', 'GRANAVI', 'Spain', 0),
 ('02620', 'Grup Air-Med', 'ESP', 'Z9', 'GPM', 'GRUPOMED', 'Spain', 0),
 ('02623', 'Grupo Vuelos Mediterraneo', 'ESP', 'Z9', 'VMM', 'VUELOS MED', 'Spain', 0),
 ('02697', 'Helcopteros De Cataluna', 'ESP', 'Z9', 'HDC', 'HELICATALUNA', 'Spain', 0),
 ('02712', 'Heli-Iberica', 'ESP', 'Z9', 'HRA', 'ERICA', 'Spain', 0),
 ('02713', 'Heli-Iberica Fotogrametria', 'ESP', 'Z9', 'HIF', 'HIFSA', 'Spain', 0),
 ('02730', 'Helicsa', 'ESP', 'Z9', 'HHH', 'HELICSA', 'Spain', 0),
 ('02736', 'Helipistas', 'ESP', 'Z9', 'HLP', 'HELIPISTAS', 'Spain', 0),
 ('02767', 'Hola Airlines', 'ESP', 'H5', 'HOA', 'HOLA', 'Spain', 0),
 ('02822', 'Iberia Airlines', 'ESP', 'IB', 'IBE', 'IBERIA', 'Spain', 1),
 ('02823', 'Ibertour Servicios Aereos', 'ESP', 'Z9', 'IBR', 'IBERTOUR', 'Spain', 0),
 ('02824', 'Ibertrans Aerea', 'ESP', 'Z9', 'IBT', 'IBERTRANS', 'Spain', 0),
 ('02825', 'Iberworld', 'ESP', 'TY', 'IWD', 'I999', 'Spain', 1),
 ('02827', 'Ibicenca Air', 'ESP', 'Z9', 'IBC', 'IBICENCA', 'Spain', 0),
 ('02860', 'Industrias Titan', 'ESP', 'Z9', 'ITN', 'TITANLUX', 'Spain', 0),
 ('02861', 'Infinit Air', 'ESP', 'Z9', 'FFI', 'INFINIT', 'Spain', 0),
 ('02865', 'Instituto Cartografico de Cataluna', 'ESP', 'Z9', 'ICC', 'CARTO', 'Spain', 0),
 ('02886', 'Intercopters', 'ESP', 'Z9', 'ICP', 'CHOPER', 'Spain', 0),
 ('02948', 'Islas Airways', 'ESP', 'IF', 'ISW', 'PINTADERA', 'Spain', 1),
 ('03005', 'Jet Center Flight Training', 'ESP', 'Z9', 'JCF', 'JET CENTER', 'Spain', 0),
 ('03044', 'Jetnova de Aviacion Ejecutiva', 'ESP', 'Z9', 'JNV', 'JETNOVA', 'Spain', 0),
 ('03049', 'Jets Personales', 'ESP', 'Z9', 'JEP', 'JET PERSONALES', 'Spain', 0),
 ('03155', 'Koanda Avacion', 'ESP', 'Z9', 'KOA', 'KOANDA', 'Spain', 0),
 ('03211', 'LTE International Airways', 'ESP', 'XO', 'LTE', 'FUN JET', 'Spain', 1),
 ('03220', 'Lagun Air', 'ESP', 'N6', 'JEV', 'I999', 'Spain', 0),
 ('03230', 'Lanza Air', 'ESP', 'Z9', 'LZA', 'AEROLANZA', 'Spain', 0),
 ('03231', 'Lanzarote Aerocargo', 'ESP', 'Z9', 'LZT', 'BARAKA', 'Spain', 0),
 ('03256', 'Leonsa De Aviacion', 'ESP', 'Z9', 'LEL', 'LEONAVIA', 'Spain', 0),
 ('03275', 'Lineas Aereas Alaire S.L.', 'ESP', 'Z9', 'ALR', 'AEROLAIRE', 'Spain', 0),
 ('03296', 'Lnair Air Services', 'ESP', 'Z9', 'LNA', 'ELNAIR', 'Spain', 0),
 ('03345', 'MAC Fotografica', 'ESP', 'Z9', 'MCF', 'MAC FOTO', 'Spain', 0),
 ('03352', 'MG Aviacion', 'ESP', 'Z9', 'MGA', 'MAG AVACION', 'Spain', 0),
 ('03360', 'Mac Aviation', 'ESP', 'Z9', 'MAQ', 'MAC AVIATION', 'Spain', 0),
 ('03520', 'Missionair', 'ESP', 'Z9', 'MSN', 'MISIONAIR', 'Spain', 0),
 ('03622', 'Navegacion Servicios Aereos Canarios SA', 'ESP', 'Z9', 'NAY', 'NAYSA', 'Spain', 0),
 ('03683', 'Norestair', 'ESP', 'Z9', 'NRT', 'NORESTAIR', 'Spain', 0),
 ('03834', 'PAN Air', 'ESP', 'PV', 'PNR', 'SKYJET', 'Spain', 1),
 ('03841', 'PRT Aviation', 'ESP', 'Z9', 'PRP', 'PRONTO', 'Spain', 0),
 ('03869', 'Paisajes Espanoles', 'ESP', 'Z9', 'PAE', 'PAISAJES', 'Spain', 0),
 ('03893', 'Panamedia', 'ESP', 'Z9', 'PEI', 'PANAMEDIA', 'Spain', 0),
 ('03897', 'Panorama', 'ESP', 'Z9', 'PNM', 'PANORAMA', 'Spain', 0),
 ('03937', "Penya De L'Aire", 'ESP', 'Z9', 'PCA', 'PENA DEL AIRE', 'Spain', 0),
 ('03979', 'Pirinair Express', 'ESP', 'Z9', 'PRN', 'PRINAIR EXPRESS', 'Spain', 0),
 ('04060', 'Privilege Style L', 'ESP', 'Z9', 'PVG', 'PRIVILEGE', 'Spain', 0),
 ('04086', 'Punto Fa', 'ESP', 'Z9', 'MGO', 'MANGO', 'Spain', 0),
 ('04151', 'Real Aero Club De Baleares', 'ESP', 'Z9', 'RCB', 'BALEARES', 'Spain', 0),
 ('04152', 'Real Aero Club de Reus-Costa Dorado', 'ESP', 'Z9', 'CDT', 'AEROREUS', 'Spain', 0),
 ('04153', 'Real Aeroclub De Ternerife', 'ESP', 'Z9', 'RCD', 'AEROCLUB', 'Spain', 0),
 ('04179', 'Regional Geodata Air', 'ESP', 'Z9', 'JJM', 'GEODATA', 'Spain', 0),
 ('04339', 'Spanish Air Force', 'ESP', 'Z9', 'AME', 'AIRMIL', 'Spain', 0),
 ('04362', 'Servicio De Helicopteros', 'ESP', 'Z9', 'SDH', 'ARCOS', 'Spain', 0),
 ('04382', 'Serair Transworld Press', 'ESP', 'Z9', 'SEV', 'CARGOPRESS', 'Spain', 0),
 ('04406', 'Sagolair Transportes Ejecutivos', 'ESP', 'Z9', 'SGP', 'SAGOLAIR', 'Spain', 0),
 ('04457', 'SPASA', 'ESP', 'Z9', 'SPS', 'SALDUERO', 'Spain', 0),
 ('04493', 'SAESA', 'ESP', 'Z9', 'SSS', 'SAESA', 'Spain', 0),
 ('04562', 'Swiftair', 'ESP', 'Z9', 'SWT', 'SWIFT', 'Spain', 0),
 ('04614', 'Servicios Aereos Elite', 'ESP', 'Z9', 'DKY', 'DAKOY', 'Spain', 0),
 ('04642', 'Sky Helicopteros', 'ESP', 'Z9', 'HSY', 'HELISKY', 'Spain', 0),
 ('04652', 'Spanair', 'ESP', 'JK', 'JKK', 'SPANAIR', 'Spain', 1),
 ('04695', 'Soko Aviation', 'ESP', 'Z9', 'OKT', 'SOKO AIR', 'Spain', 0),
 ('04856', 'Servicios Aereos Integrales / Flyant', 'ESP', 'Z9', 'FYA', 'FLYANT', 'Spain', 0),
 ('04899', 'Tadair', 'ESP', 'Z9', 'TDC', 'TADAIR', 'Spain', 0),
 ('04909', 'Tecnicas Fotograficas', 'ESP', 'Z9', 'TEF', 'TECFOTO', 'Spain', 0),
 ('04921', 'Trabajos Aereos Murcianos', 'ESP', 'Z9', 'AIM', 'PIJO', 'Spain', 0),
 ('04930', 'Trabajos Aereos', 'ESP', 'Z9', 'TGE', 'TASA', 'Spain', 0),
 ('04932', 'TAG Aviation Espana', 'ESP', 'Z9', 'TGM', 'TAG ESPANA', 'Spain', 0),
 ('04980', 'Top-Fly', 'ESP', 'Z9', 'TLY', 'TOPFLY', 'Spain', 0),
 ('05044', 'TRAGSA (Medios Aereos)', 'ESP', 'Z9', 'TRG', 'I999', 'Spain', 0),
 ('05092', 'Trabajos Aereos Vascongados', 'ESP', 'Z9', 'TVH', 'TRAVASA', 'Spain', 0),
 ('05144', 'TAF Helicopters', 'ESP', 'Z9', 'HET', 'HELITAF', 'Spain', 0),
 ('05233', 'United Aviation Services', 'ESP', 'Z9', 'SAU', 'UNISERVE', 'Spain', 0),
 ('05240', 'Ucoaviacion', 'ESP', 'Z9', 'UCO', 'UCOAVIACION', 'Spain', 0),
 ('05244', 'Urgemer Canarias', 'ESP', 'Z9', 'UGC', 'URGEMER', 'Spain', 0),
 ('05259', 'Universal Jet', 'ESP', 'Z9', 'UNJ', 'PROJET', 'Spain', 0),
 ('05329', 'Victor Echo', 'ESP', 'Z9', 'VEE', 'VICTOR ECHO', 'Spain', 0),
 ('05352', 'Vueling Airlines', 'ESP', 'VY', 'VLG', 'VUELING', 'Spain', 1),
 ('05370', 'Visig Operaciones Aereas', 'ESP', 'Z9', 'VSG', 'VISIG', 'Spain', 0),
 ('05463', 'Wondair on Demand Aviation', 'ESP', 'Z9', 'WNR', 'WONDAIR', 'Spain', 0),
 ('05525', 'Zorex', 'ESP', 'Z9', 'ORZ', 'ZOREX', 'Spain', 0),
 ('09373', 'Greenfly', 'ESP', 'XX', 'GFY', 'I999', 'Spain', 1),
 ('11795', 'Andalus Lineas Aereas', 'ESP', 'Z9', 'ANU', 'Andalus', 'Spain', 1),
 ('12962', 'Gadair European Airlines', 'ESP', 'GP', 'GDR', 'GADAIR', 'Spain', 1),
 ('16926', 'Mint Airways', 'ESP', 'Z9', 'MIC', 'I999', 'Spain', 1),
 ('16940', 'AlbaStar', 'ESP', 'Z9', 'LAV', 'I999', 'Spain', 1),
 ('17658', 'Volotea', 'ESP', 'Z9', 'VOO', 'Volotea', 'Spain', 1),
 ('17694', 'Helitt Líneas Aéreas', 'ESP', 'Z9', 'HTH', 'I999', 'Spain', 1),
 ('17881', 'Iberia Express', 'ESP', 'I2', 'IBS', 'I999', 'Spain', 1),
 ('17893', 'Starling Airlines Spain', 'ESP', 'SX', 'STS', 'STARLING', 'Spain', 0),
 ('18140', 'Spantax S.A.', 'ESP', 'Z9', 'BXS', 'I999', 'Spain', 0),
 ('19276', 'Canaryfly', 'ESP', 'Z9', 'CNF', 'I999', 'Spain', 1),
 ('19809', 'All Spain', 'ESP', 'N7', 'N77', 'I999', 'Spain', 1),
 ('19831', 'Fly Europa', 'ESP', 'ER', 'RWW', 'I999', 'Spain', 1)]